@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

}

@layer components{
    .headerLink{
        @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]
    }

    .bannerButton{
        @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl
    }

    .input{
        @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545]
    }

    .payment.active{
        @apply w-[130px] h-[70px] rounded-md bg-[#7f7f7f39] border-[1px] border-[#9a9a9a82] text-white flex flex-col items-center justify-center
    }

    .payment{
        @apply w-[130px] h-[70px] rounded-md bg-[#7f7f7f00] border-[1px] border-[#9a9a9a82] text-white flex flex-col items-center justify-center
    }

}

/* .status-bg-NEW{
    background-color: #2dff2d58;
}
.status-bg-PREPARATION{
    background-color: #e62dff4d
}
.status-bg-DELIVERY{
    background-color: #ffea2d48
}
.status-bg-DONE{
    background-color: #2dd5ff54
}
.status-bg-REJECTED{
    background-color: #ff4d4d43
} */

.status-NEW-shadow{
    box-shadow: rgba(24, 214, 3, 0.3) 0px 0px 0px 3px;
    /* box-shadow: rgba(153, 212, 90, 0.637) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* background-color: #2dff2d58; */
}

.status-PREPARATION-shadow{
    /* box-shadow: rgba(212, 90, 208, 0.637) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(214, 3, 214, 0.3) 0px 0px 0px 3px;
    /* background-color: #e62dff4d */
}
.status-DELIVERY-shadow{
    /* box-shadow: rgba(204, 212, 90, 0.637) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(179, 214, 3, 0.3) 0px 0px 0px 3px;
    /* background-color: #fbff006e */
}
.status-DONE-shadow{
    /* box-shadow: rgba(90, 173, 212, 0.637) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(3, 116, 214, 0.3) 0px 0px 0px 3px;
    /* background-color: #2dd5ff54 */
}
.status-REJECTED-shadow{
    /* box-shadow: rgba(212, 90, 90, 0.637) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(242, 1, 1, 0.3) 0px 0px 0px 3px;
    /* background-color: #ff4d4d43 */
} 